global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 2000
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind *:80
    stats enable
    stats uri /haproxy?stats

    acl is_auth_api path_beg /api/auth
    acl is_users_api path_beg /api/users
    acl is_todos_api path_beg /api/todos
    
    use_backend auth_api_cluster if is_auth_api
    use_backend users_api_cluster if is_users_api
    use_backend todos_api_cluster if is_todos_api
    
    default_backend frontend_cluster

backend frontend_cluster
    balance roundrobin
    server frontend_vm 192.168.56.10:8080 check

backend auth_api_cluster
    balance roundrobin
    server auth_vm 192.168.56.10:8000 check

backend todos_api_cluster
    balance roundrobin
    server todos_vm 192.168.56.10:8082 check

backend users_api_cluster
    balance roundrobin
    server users_vm 192.168.56.11:8083 check
